{% extends 'base.html.twig' %}

{% block title %}Backoffice | Acceuil{% endblock %}

{% block homeActive %}active{% endblock %}

{% block body %}

<div>
    <div>
        <h2> Liste des 5 derniers utilisateurs ajoutés</h1>
            <table class="table table-hover">
                <thead>
                    <tr class="table-primary">
                    <th scope="col">ID</th>
                    <th scope="col">Nom de l'utilisateur</th>
                    <th scope="col">Date d'ajout</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                
                    <tr class="table-active">
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
           
                </tbody>
        </table>
    </div>
    <div>
        <h2> Liste des 5 derniers jardins ajoutés</h2>
        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th scope="col">ID</th>
                    <th scope="col">Titre de l'annonce</th>
                    <th scope="col">Propriétaire</th>
                    <th scope="col">Date d'ajout</th>
                    <th scope="col">Actions</th>
                    <th scope="col">Validation</th>
                </tr>
            </thead>
            <tbody>
            {% for garden in gardens %}
                <tr class="table-active">
                <th scope="row">{{ garden.id }}</th>
                    <td>{{ garden.title }}</td>
                    <td>{{ garden.user.username}}</td>
                    <td>{{ garden.createdAt ? garden.createdAt|date('d-m-Y') : ''}}</td>
                    <td>
                        {% if garden.checked == "Valider" %}
                            <i class="bi bi-bookmark-check"></i>
                        {% elseif garden.checked == "En cours" %}
                            <i class="bi bi-arrow-clockwise"></i>
                        {% else %}
                            <i class="bi bi-bookmark-x"></i>                  
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_back_garden_show', {'id': garden.id}) }}"><i class="bi bi-eye"></i></a>
                        <a href="{{ path('app_back_garden_edit', {'id': garden.id}) }}"><i class="bi bi-pencil"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
