{% extends 'base.html.twig' %}

{% block title %}Backoffice | Liste des jardins{% endblock %}

{% block gardenActive %}active{% endblock %}

{% block body %}
    <h1>Liste des jardins</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Code Postal</th>
                <th>Ville</th>
                <th>Date d'ajout</th>
                <th>Dernière mise à jour</th>
                <th>Validation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for garden in gardens %}
            <tr>
                <td>{{ garden.id }}</td>
                <td>{{ garden.title }}</td>
                <td>{{ garden.description }}</td>
                <td>{{ garden.postalCode }}</td>
                <td>{{ garden.city }}</td>
                <td>{{ garden.createdAt ? garden.createdAt|date('Y-m-d') : '' }}</td>
                <td>{{ garden.updatedAt ? garden.updatedAt|date('Y-m-d') : '' }}</td>
                <td>
                    {% if garden.checked == "Valider" %}
                        <i class="bi bi-bookmark-check"></i>
                    {% elseif garden.checked == "En cours" %}
                        <i class="bi bi-arrow-clockwise"></i>
                    {% else %}
                        <i class="bi bi-bookmark-x"></i>                  
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_back_garden_show', {'id': garden.id}) }}"><i class="bi bi-eye"></i></a>
                    <a href="{{ path('app_back_garden_edit', {'id': garden.id}) }}"><i class="bi bi-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">Pas de résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
