{% extends 'base.html.twig' %}

{% block title %}Backoffice | Garden{% endblock %}

{% block body %}
    <h1>Jardin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ garden.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ garden.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ garden.description }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ garden.address }}</td>
            </tr>
            <tr>
                <th>Code Postal</th>
                <td>{{ garden.postalCode }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ garden.city }}</td>
            </tr>
            <tr>
                <th>Point d'eau</th>
                <td>{{ garden.water ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Outils</th>
                <td>{{ garden.tool ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Abri de jardin</th>
                <td>{{ garden.shed ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Cultivation</th>
                <td>{{ garden.cultivation ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Surface</th>
                <td>{{ garden.surface }}</td>
            </tr>
            <tr>
                <th>Autorisation d'utilisation du téléphone</th>
                <td>{{ garden.phoneAccess ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Date d'ajout</th>
                <td>{{ garden.createdAt ? garden.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de modification</th>
                <td>{{ garden.updatedAt ? garden.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>En etat</th>
                <td>{{ garden.state }}</td>
            </tr>
            <tr>
                <th>Lat</th>
                <td>{{ garden.lat }}</td>
            </tr>
            <tr>
                <th>Lon</th>
                <td>{{ garden.lon }}</td>
            </tr>
            <tr>
                <th>Validation de l'annonce</th>
                <td>{{ garden.checked }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_garden_list') }}">Retour à la liste</a>

    <a href="{{ path('app_back_garden_edit', {'id': garden.id}) }}">Modifier</a>

    {{ include('back/garden/_delete_form.html.twig') }}
{% endblock %}
