{% extends 'base.html.twig' %}

{% block title %}Users list
{% endblock %}

{% block body %}

	<div >
		<h1>Users list</h1>
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Username</th>
		
					<th>Email</th>
					<th>Phone</th>
					<th>Roles</th>
					<th>Avatar</th>
					<th>CreatedAt</th>
					<th>UpdatedAt</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.username }}</td>
		
						<td>{{ user.email }}</td>
						<td>{{ user.phone }}</td>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
						{% if (user.avatar) %}
							<td><img src="{{ user.avatar }}" alt="{{ user.avatar }}" width= 80px height= 80px></td>
						{% endif %}
						<td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							<a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
							<a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="10">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{{ path('app_user_new') }}">Create new</a>
	</div>
{% endblock %}
